<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="stylesheet" href="../public/styles/main.css">
  <viewport width="device-width" initial-scale="1.0" maximum-scale="1.0" user-scalable="no" />

  <title>Home - WaggnersCommerce</title>
</head>
<body>
    
      <header>
        <a href="./cad-produto.html"> <img src="../assets/addProduct.svg" alt=""> Cadastrar Produto</a>
        <h1>WaggnersCommerce</h1>
        <a href="./login.html"> <img src="../assets/login.svg" alt=""> Logar</a>
        
      </header>
      <div class="container">
        <div class="main">
          <div id="produtos">

            </div>
            <div class="produto-botao">

              
                
                  <button type="button">
                    <a href="./atualizar-produtos.html"  class="btn btn_editar">Editar Produto</a>
 
                  </button>
                  
                
                
              
                
                  <button type="button">
                    <a href="./deletar-produtos.html"  class="btn btn_remover">Remover Produto</a>
                    
                  </button>

              
          </div>
        </div>
        
      </div>
      <footer>
        <ul>
          <li>
            <h3>Quem somos nós</h3>
            
          </li>
          <li>
            <p>Guilherme Augusto Deitos Alves</p>
          </li>
          <li>
            <p>Renato Vailões Tozo</p>
          </li>
        </ul>
      </footer>
    </div>


</body>
<script src="../js/getProdutos.js"></script>
<script src="../js/deleteProduto.js"></script>


</html>